@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body font-normal text-base text-gray-950;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading text-center;
  }

  h1 {
    background-image: linear-gradient(
        rgba(250, 253, 254, 0.5),
        rgba(250, 253, 254, 0.6)
      ),
      url(../title-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @apply w-full h-52 mt-14 mb-8 px-4 flex flex-row flex-nowrap justify-center items-center 
    font-black text-5xl tracking-wide uppercase text-blue-900
    md:h-112 md:mt-24 md:mb-16 md:px-8 md:text-md-5xl md:tracking-wider;
  }

  h2 {
    @apply mb-4 
    font-bold text-4xl uppercase
    md:mb-12 md:text-md-4xl md:tracking-wide;
  }

  h3 {
    @apply font-semibold text-3xl uppercase
    md:text-md-3xl;
  }

  h4 {
    @apply font-semibold text-2xl
    md:text-md-2xl;
  }
  h5 {
    @apply font-semibold text-xl
    md:text-md-xl;
  }

  section,
  main {
    @apply m-4 md:m-16;
  }

  footer {
    @apply w-full h-14 pr-6 uppercase bg-white text-blue-900
    md:h-24;
  }

  a {
    @apply outline-blue-900;
  }
}

@layer components {
  .navbar {
    @apply w-full h-14 pr-4 flex flex-row flex-nowrap justify-between items-center bg-white
    fixed z-10 top-0 
    md:h-24;
  }

  .navlist {
    @apply flex flex-col flex-nowrap justify-center items-center text-xs uppercase text-center
    md:flex-row md:justify-between;
  }

  .navlink {
    @apply inline-block mt-3 mb-3.5 text-blue-900
    md:mx-2 md:font-semibold
    hover:mb-3 hover:border-b-2 hover:border-blue-900;
  }

  .big-button {
    border-radius: 60px;
    @apply text-xl md:text-md-xl font-bold
    md:px-12 md:py-2 md:hover:px-11 md:hover:py-1 md:focus:px-11 md:focus:py-1;
  }

  .small-button {
    border-radius: 35px;
    @apply text-sm md:text-base font-bold
    md:px-3 md:py-2 md:hover:px-2 md:hover:py-1 md:focus:px-2 md:focus:py-1;
  }

  .discipline-tag {
    border-radius: 20px;
    @apply w-20 h-5 flex flex-row flex-nowrap justify-center items-center
    text-sm text-gray-50 font-semibold
    md:w-24 md:h-6;
  }

  .next-event-card {
    border-radius: 5px;
    @apply w-full max-w-80 h-52 mb-4 p-4 flex flex-col flex-nowrap justify-between items-center
    bg-gray-50 text-gray-950 drop-shadow-base
    md:h-80 md:p-12;
  }

  .home-section {
    border-radius: 10px;
    @apply m-4 p-4 flex flex-col flex-nowrap justify-center items-center
    text-gray-50
    md:m-16 md:p-12;
  }

  .table-header {
    @apply hidden md:w-full md:h-12 md:px-4 md:grid md:grid-cols-4 md:items-center md:text-2xl md:font-semibold md:text-gray-50 md:text-center md:uppercase;
  }

  .event-card {
    @apply w-full h-40  mb-4 p-4 flex flex-col flex-nowrap justify-between items-center
    md:h-20 md:mb-0 md:grid md:grid-cols-4;
  }

  .bloc {
    border-radius: 10px;
    @apply p-2 blue-gradient text-sm md:text-base text-gray-50;
  }
}

@layer utilities {
  .blue-gradient {
    background: linear-gradient(
      180deg,
      rgba(0, 75, 121, 1) 0%,
      rgba(0, 48, 81, 1) 100%
    );
  }

  .paragraph {
    @apply mb-4 md:mb-0 md:text-xl;
  }

  .button {
    border-radius: 60px;
    @apply px-4 py-1 flex flex-row flex-nowrap justify-center items-center
    bg-sun-400 text-gray-950 drop-shadow-base outline-none
    hover:py-0 hover:px-3 hover:bg-gray-50 hover:border-4 hover:border-sun-400
    focus:py-0 focus:px-3 focus:bg-gray-50 focus:border-4 focus:border-sun-400;
  }

  .disabled {
    @apply bg-gray-800 text-gray-50 pointer-events-none
    focus:py-0 focus:px-3 focus:bg-gray-800 focus:border-4 focus:border-gray-800;
  }
}
